{{include '../public/head'}}
{{include '../public/nav'}}
<div class="jumbotron">
	<div class="container">
	  	<form>
	  		<div class="input-group form-group">
			  	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  	<input type="text" class="form-control" name="name" required placeholder="请输入用户名" pattern="[\u4e00-\u9fa5\w]{2,12}">
			</div>
			<div class="input-group form-group">
			  	<span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
			  	<input type="password" class="form-control" name="passwd" required autocomplete="off" placeholder="请输入密码" pattern="[\w]{6,16}">
			</div>
			<button type="submit" class="btn btn-primary form-control">登录</button>						  	
	  	</form>
	</div>
</div>
{{include '../public/modal'}}
<script src="js/login.js" type="text/javascript" charset="utf-8"></script>
{{include '../public/foot'}}