<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{if title}}{{title}}--{{/if}}NodeJS 问答交流社区</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="author" content="maomao" />
		<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="lib/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="lib/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
	<main>