<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  	<div class="container dropdown">
  		<div class="navbar-title navbar-login">
  			<span id="goBack" class="pull-left">
  				<span class="glyphicon glyphicon-chevron-left"></span>
  			</span>{{nav_title}}
  			<span id="goLogin" class="pull-right normal" href="/login">
  				<i class="icon-user"></i>登录
  			</span>
  			<span id="user" class="pull-right normal"  data-toggle="dropdown"></span>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="#" class="text-right">个人资料</a></li>
				<li class="divider"></li>
				<li><a href="#" class="text-right">退出</a></li>
			</ul>
  		</div>
  	</div>
</nav>